:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-blue: #131921;
    --muted-dark-blue: #222e3d;
    --light-gray: #e3e6e6;
    --steel-gray: #364659;
    --cerebral-grey: #ccc;
}

* {
    list-style-type: none;
}

body {
    font-family: "Noto Sans", sans-serif;
}

/* Header */
.top-nav {
    background-color: var(--dark-blue);
}

.top-nav .logo {
    width: 130px;
}

.top-nav .deliver-btn a {
    width: 100%;
}

.db-content {
    font-size: .75rem;
    line-height: 1rem;
}

.db-content .bd-content {
    font-size: .8rem;
}